.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.note-input {
  width: 300px;
  margin-bottom: 10px;
  padding: 8px;
}
.title-input {
  height: 20px;
}
.text-input {
  height: 100px;
}

.add-button {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid black;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
}

.notes-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px; 
  margin-top: 16px;
  border-color: blue;
}
