.note {
   font-family: sans-serif;
  background-color: white;
  border: 1px solid lightgrey;
  box-sizing: border-box;

  width: 300px;             
  min-height: 180px;       
  padding: 8px 16px;
  margin: 10px auto;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: left;
  gap: 4px;
  
  
}
.note-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}
.date-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px; 
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.date-info div {
  margin: 0;
  padding: 0;
}

.delete-button {
  color: red;
}
.note-content {
  margin: 2px 0 0 0;
  padding: 0;
}
.h2{
    font-size: 16px;
    font-weight: bold;
}