.note {
  border: 1px solid lightgrey;
  padding: 8px 16px;
  margin: 10px auto;
  border-radius: 4px;
  width: fit-content;
  background-color: white;
  font-family: sans-serif;
}
.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}
.delete-button {
  color: red;
  border-radius: 4px;
  cursor: pointer;
}